<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lista de Produtos - Desafio Técnico</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            body {
                font-family: "Inter", sans-serif;
                background-color: #f3f4f6; /* Cor de fundo suave */
                padding-top: 72px; /* Espaço para o header fixo */
            }
        </style>
    </head>
    <body class="p-8">
        <div class="max-w-4xl mx-auto"><div id="header-container"></div></div>
        <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-xl">
            <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">
                Nossos Produtos
            </h1>

            <div
                id="product-list"
                class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
            >
                <!-- Produtos serão carregados aqui pelo JavaScript -->
                <p class="text-gray-600 text-center col-span-full">
                    Carregando produtos...
                </p>
            </div>

            <div
                id="error-message"
                class="hidden bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-6"
                role="alert"
            >
                <strong class="font-bold">Erro!</strong>
                <span class="block sm:inline" id="error-text"></span>
            </div>
        </div>

        <script type="module" src="/js/pages/products.js"></script>
    </body>
</html>
